*{
    margin: 0;
    padding: 0;

}
body{
    background-image: url(../imagenes/index.jpg);
    background-size: cover;
    background-position: right top;
    position: absolute;
    background-repeat: no-repeat;
}
.contenedor{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
}
.textos{
    margin-left: 40px;
    z-index: 1;
    color: white;
}
.titulo{
    padding: 15px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}
.subtitulo{
    font-size: 16px;
    font-family: sans-serif;
    margin: 0 0 50px 0;
}
button{
    display: inline-block;
    width: 100px;
    height: 50px;
    border-radius: 10px 0;
    border-style: none;
    font-size: 15px;
    background-color: #F72F6D;
}
button a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
button:hover{
    background-color: rgb(207, 0, 69);
    transition: 0.3s;
    a{
        color: white;
    }
}
img{
    margin: 100px 50px;
    top: 150px;
    right: 50px;
    width: 700px
}